doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Eliminar Registro
  body
    h1 Eliminar Registro
    p= `¿Estás seguro de que deseas eliminar el registro con Nombre: ${datos.Nombre}, Fecha: ${datos.Fecha}, Artista: ${datos.Artista}?`
    form(action=`/Eliminar/${datos._id}`, method="POST") // Asegúrate de pasar el ID correcto aquí
      button(type="submit") Sí, Eliminar
