doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Albums
  body 

  h1 Albums
  ul
    each dato in datos
        h2= dato.Nombre
        h2=dato.Fecha
        h2=dato.Artista