// Vista 'mostrar.pug'
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Mostrar Datos
  body
    h1 Mostrar Datos
    each dato in datos
      div
        p= `Nombre: ${dato.Nombre}, Fecha: ${dato.Fecha}, Artista: ${dato.Artista}`
